.jumbotron{
    background-color: rgb(75, 143, 221);
    color: white;
    
}

/*si quiero cambiarle manualmente el color a los botones
.btn{
    color: white;
    background-color: brown;

    si al lado de class btn pongo btn-primary se cambia a fondo azul y letras blancas por ser algo de
    Bootstrap
    otras opciones de Bootstrap son btn-warning (amarillo negro), btn-success(verde blanco) 
    si quiero más hay en https://getbootstrap.com/docs/4.0/components/buttons/
}*/

footer{
    padding: 10px 10px 0 10px;
    background-color: rgb(115, 185, 202);

    margin-bottom: 0px;
    margin-top: 10px;
}

.car-alq{
    flex: 1 200px; /*el 1 hace referencia a la propiedad de flex wrap (cuanto queremos que crezca el elemento, si le pongo 2 el elemento puede ocupar el
    doble de ancho, el 150 es la propiedad flex basics pages que indica cual es el ancho definido)*/
    padding: 2px 5px 2px 5px ;
    margin-top: 10px

}
.btn-reserva{
    width: 100%;
}
.col-encabezado{
    padding: 2px 10px 2px 10px;
}
.auto{
    color: rgb(141, 43, 4);
}
