.jumbotron {
  background-color: #4b8fdd;
  color: #ffffff;
}
.imagenlogo {
  width: 80px;
  height: 30px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #73b9ca;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.car-alq {
  flex: 1 200px;
  /*el 1 hace referencia a la propiedad de flex wrap (cuanto queremos que crezca el elemento, si le pongo 2 el elemento puede ocupar el
    doble de ancho, el 150 es la propiedad flex basics pages que indica cual es el ancho definido)*/
  padding: 2px 0px 0px 0px;
  /*padding da en orden: padding arriba, derecha abajo izquierda*/
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 2px;
  margin-right: 2px;
}
.espacioregistro {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.btn-reserva {
  width: 100%;
}
.col-encabezado {
  padding: 2px 10px 2px 10px;
}
.navbar-brand {
  padding: 1px 10px 1px 10px;
  margin-left: 15px;
}
.navbar-toggler {
  padding: 1px 10px 1px 10px;
  margin-right: 20px;
}
.mapas {
  margin-bottom: 10px;
}
.popover {
  background-color: #f5f5f5;
  border-color: #029494;
}
.popover-header {
  background-color: #ffa500;
}
